/* ========== RESET ========== */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* ========== STYLES ========== */

html {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  background: rgb(230, 230, 230);
  color: #333333;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.container {
  padding: 0 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logo-wrap {
  margin-top: 15px;
}

#logo-wrap img {
  width: 65px;
}

.content {
  width: 100%;
}

.content-inner {
  height: calc(100vh - 180px);
  padding: 30px;
  margin: 15px 0;
  background: #fff;
  border-radius: 5px;
}

.content-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
  margin: -30px -30px 25px;
  background: #00c8b3;
  border-radius: 5px 5px 0 0;
}

.content-top-bar h1 {
  color: #fff;
  font-size: 1.7em;
}

/* ========== BOTÕES ========== */

.btn-top-bar {
  display: block;
  padding: 10px 33px;
  background: #00c8b3;
  color: #fff;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btn-top-bar:hover {
  background-color: #fff;
  color: #333333;
  border-color: #333333;
}

/* ==================== CUSTOM SCROLLBAR ==================== */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00c8b3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00c8b3;
}
